@layer base {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.1s;
  }

  html,
  body {
    @apply m-0 p-0 h-full overflow-hidden;
    background: var(--base);

    &.is-fullscreen {
      @apply cursor-none;
    }

    & .cursor-dot {
      @apply fixed rounded-full opacity-0 pointer-events-none z-99;
      width: 45px;
      height: 45px;
      background: var(--brand);
      transform: translate(-50%, -50%);
      transition:
        left 0.08s ease-out,
        top 0.08s ease-out,
        opacity 0.3s ease;
    }
  }
}
