.slide-body table {
  @apply overflow-hidden;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0.3em 0;
  font-size: clamp(11px, 4cqmin, 80px);
  line-height: 1.4;
  border: 1px solid var(--border);
  border-radius: 0.4em;
  background: var(--base);
}
.slide-body th,
.slide-body td {
  @apply text-left;
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 0.3em 0.6em;
}
.slide-body th:last-child,
.slide-body td:last-child {
  @apply border-r-none;
}
.slide-body tr:last-child td {
  @apply border-b-none;
}
.slide-body th {
  @apply font-bold;
  background: var(--body-bg);
}
