---
import type { Slide } from '../../lib/parser';
import NodeRenderer from '../NodeRenderer.astro';

interface Props {
  slide: Slide;
}

const { slide } = Astro.props;
---

<div class="template-default">
  {slide.heading && <h2 class="slide-title title">{slide.heading}</h2>}
  <div class="slide-body body">
    <NodeRenderer nodes={slide.body} />
  </div>
</div>

<style>
  .template-default {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: clamp(32px, 8vmin, 180px) clamp(32px, 8vmin, 180px) clamp(48px, 10vmin, 200px);
    box-sizing: border-box;
  }
  .title {
    margin-bottom: clamp(20px, 4vmin, 80px);
  }
  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
</style>
