---
import type { Slide } from '../../lib/types';
import NodeRenderer from '../slide/NodeRenderer.astro';

interface Props {
  slide: Slide;
}

const { slide } = Astro.props;
---

<div class="template-default">
  {slide.heading && <h2 class="slide-title title">{slide.heading}</h2>}
  <div class="slide-body body">
    <NodeRenderer body={slide.body} />
  </div>
</div>

<style>
  .template-default {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--slide-pad-top) var(--slide-pad-x) var(--slide-pad-bottom);
    box-sizing: border-box;
  }
  .title {
    margin-bottom: 0;
  }
  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
</style>
