---
import { renderInline } from '../../lib/markdown';
import Markup from '../slide/Markup.astro';

interface Props {
  heading: string;
  body: string;
  caption?: string;
}

const { heading, body, caption } = Astro.props;
const captionHtml = caption ? renderInline(caption) : '';
---

<div class="template-note">
  <h2 class="slide-title">{heading}</h2>
  <div class="slide-body body">
    <div class="body-center">
      <Markup body={body} />
    </div>
    {captionHtml && (
      <div class="body-bottom">
        <p set:html={captionHtml} />
      </div>
    )}
  </div>
</div>

<style>
  .template-note {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: var(--slide-pad-top) var(--slide-pad-x) var(--slide-pad-bottom);
    box-sizing: border-box;
  }
  .body {
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: center;
    line-height: 1.4;
    min-height: 0;
  }
  .body-center {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    align-content: center;
    min-height: 0;
  }
</style>
