.template-big {
  @apply w-full h-full grid place-content-center box-border;
  padding: clamp(12px, 6cqmin, 120px);
}
.template-big .text {
  @apply font-black text-center;
  font-size: clamp(24px, 16cqmin, 320px);
  letter-spacing: -0.04em;
  color: var(--brand);
  line-height: 0.95;
}
