.template-small {
  @apply w-full h-full grid place-content-center box-border;
  padding: clamp(12px, 6cqmin, 120px);
}
.template-small .text {
  @apply font-medium;
  font-size: clamp(12px, calc(4.1cqmin + 4px), 88px);
  color: var(--brand);
  letter-spacing: 0.01em;
}
